.list{
    list-style: none;
}

.container{
    position: relative;
    height: 460px;
    width: 380px;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    margin: 0;
}


.logo{
    position: absolute;
    left: 20px;
    top: 20px;
}

.backgroundImg{
    position: absolute;
    width: 308px;
    height: 168px;
    padding-top: 28px;
    left: 36px;
}

.userContainer{
    width: 380px;
    padding-bottom: 26px;
    position: absolute;
    padding-top: 178px;
}

.wrapperUser{
   display: flex;
    justify-content: center;
    background-image: url(../images/line.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

.avatarContainer{
    width: 80px;
    height: 80px;
        
    
    background: #EBD8FF;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06), inset 0px -2.19582px 4.39163px #AE7BE3, inset 0px 4.39163px 3.29372px #FBF8FF;
    border-radius: 85.17490000000001px;;
    
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar{
    position: absolute;
    left: 159.48000000000002px;
    top: 186.48000000000002px;
    border-radius: 50%;
    background-color: #5736A3;
}



.userTextTweets,
.userTextFollowers{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: #EBD8FF;
}

.userTextTweets{
    margin-top: 20px;
}

.userTextFollowers{
    margin-top: 16px;
}

.buttonFollow{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 14px 28px;
        gap: 6px;
    
        position: absolute;
        width: 196px;
        height: 50px;
        left: 92px;
        top: 374px;

        border: none;
        box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
        border-radius: 10.3108px;

        font-family: 'Montserrat', sans-serif;
        line-height: 1.2;
        font-weight: 600;
        font-size: 18px;
        color: #373737;
        cursor: pointer;
}

/* .buttonFollow:active {
    background-color: #d6d3d3;
} */